#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Active tab text */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #722ed1; /* purple */
}

/* Hover tab text */
.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #9254de;
}

/* Ink bar (underline) */
.ant-tabs-ink-bar {
  background-color: #722ed1;
}

/* Optional: tab background */
.ant-tabs-tab {
  background: #f9f0ff;
  border-radius: 6px 6px 0 0;
}

.ant-tabs-tab-active {
  background: #efdbff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
