@import "tailwindcss/preflight";
@tailwind utilities;
@reference "tailwindcss";

/* App-wide defaults */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: Roboto, sans-serif;
}


